<% if search.total_pages > 1 %>
  <ul class="pagination pull-right">
    <% if search.page > 1 %>
      <li>
        <a href="<%= "#{root_path}tasks?filter=#{ERB::Util.url_encode(search.filter)}&count=#{search.count}&page=#{search.page - 1}" %>">
          <%= t("prev") %>
        </a>
      </li>
    <% end %>

    <% (0..(search.total_pages - 1)).each.with_index(1) do |_page, index| %>
      <li class="<%= 'active' if index == search.page %>">
        <a href="<%= "#{root_path}tasks?filter=#{ERB::Util.url_encode(search.filter)}&count=#{search.count}&page=#{index}" %>"><%= index %></a>
      </li>
    <% end %>

    <% if search.tasks.any? && search.tasks.size == search.count %>
      <li>
        <a href="<%= "#{root_path}tasks?filter=#{ERB::Util.url_encode(search.filter)}&count=#{search.count}&page=#{search.page + 1}" %>">
          <%= t("next") %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
