<header class="row">
  <div class="span col-sm-5 pull-left">
    <h1><%= t("task") %></h1>
  </div>
</header>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th><%= t("name") %></th>
      <td><%= task.name %></td>
    </tr>
    <tr>
      <th><%= t("desc") %></th>
      <td><%= task.desc %></td>
    </tr>
    <tr>
      <th><%= t("last_enqueued") %></th>
      <td><%= task_last_enqueue_at(task) %></td>
    </tr>
  </tbody>
</table>

<header class="row">
  <div class="col-sm-12">
    <h2><%= t("history") %></h2>
  </div>
</header>

<% if task.history.empty? %>
  <p><%= t("no_history") %></p>
<% else %>
  <table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t("jid") %></th>
      <th><%= t("args") %></th>
      <th><%= t("enqueued") %></th>
    </tr>
    </thead>
    <tbody>
      <% task.history.each do |jid_history| %>
        <tr>
          <td><%= jid_history["jid"] %></td>
          <td><%= jid_history["args"] %></td>
          <td><%= jid_history["enqueued_at"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<header class="row">
  <div class="col-sm-12">
    <h2><%= t("run_task") %></h2>
  </div>
</header>

<form action="<%= task_url(root_path, task) %>/enqueue" method="post">
  <%= csrf_tag %>

  <div class="container">
    <div class="row">
      <% task.args.each do |arg| %>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="<%= arg %>" class="form-label"><%= arg %></label>
            <input type="text" class="form-control" name="args[<%= arg %>]" id="<%= arg %>" />
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">
    <%= t("enqueue") %>
  </button>
</form>
