<header class="row">
  <div class="span col-sm-5 pull-left">
    <h1><%= t("task") %></h1>
  </div>
</header>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th><%= t("name") %></th>
      <td><%= task.name %></td>
    </tr>
    <tr>
      <th><%= t("desc") %></th>
      <td><%= task.desc %></td>
    </tr>
  </tbody>
</table>
