<header class="row">
  <div class="col-sm-5">
    <h1>
      <%= t("tasks") %>
    </h1>
  </div>

  <form action="<%= root_path %>tasks" class="form form-inline" method="get">
    <input name="filter" class="form-control" type="text" value="<%= @search.filter %>" />

    <select name="count" class="form-control">
      <% Sidekiq::Tasks::Web::Search.count_options.each do |count| %>
        <option value="<%= count %>" <%= "selected" if @search.count == count %>>
          <%= count %>
        </option>
      <% end %>
    </select>

    <input name="page" type="hidden" value="1" />

    <button class="btn btn-default" type="submit">
      <%= t("filter") %>
    </button>
  </form>
</header>

<% if @search.tasks.empty? %>
  <%= t("no_tasks") %>
<% else %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("last_enqueued") %></th>
      </tr>
    </thead>
    <tbody>
      <% @search.tasks.each do |task| %>
        <tr>
          <td>
            <a href="<%= task_url(root_path, task) %>">
              <b><%= task.name %></b>
            </a>
          </td>

          <td><%= task_last_enqueue_at(task) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left">
    <%= @search.tasks.size %> / <%= Sidekiq::Tasks.tasks.size %>
  </div>

  <%= render(:erb, read_view(:_pagination), locals: {search: @search}) %>
<% end %>
