<% if Sidekiq::Tasks::Web::SIDEKIQ_GTE_8_0_0 %>
  <% style_tag "tasks/css/ext.css" %>
<% elsif Sidekiq::Tasks::Web::SIDEKIQ_GTE_7_3_0 %>
  <% add_to_head do %>
    <%= style_tag "tasks/css/ext.css" %>
  <% end %>
<% else %>
  <% add_to_head do %>
    <link href="<%= root_path %>tasks/css/ext.css" media="screen" rel="stylesheet" type="text/css">
  <% end %>
<% end %>

<header class="st-header">
  <form action="<%= root_path %>tasks" method="get" class="st-search-form">
    <input type="hidden" name="sort" value="<%= @search.sort %>">
    <input type="hidden" name="direction" value="<%= @search.direction %>">

    <input
      name="filter"
      class="st-input"
      type="text"
      value="<%= Rack::Utils.escape_html(@search.filter.to_s) %>"
      placeholder="<%= t("search") %>"
      autocomplete="off"
    >

    <select name="count" class="st-select">
      <% Sidekiq::Tasks::Web::Search.count_options.each do |count| %>
        <option value="<%= count %>" <%= "selected" if @search.count == count %>>
          <%= count %>
        </option>
      <% end %>
    </select>

    <button type="submit" class="st-button st-button-primary">
      <%= t("filter") %>
    </button>
  </form>
</header>

<div class="st-table-container">
  <% if @search.tasks.empty? %>
    <%= t("no_tasks") %>
  <% else %>
    <table class="st-table">
      <thead>
        <tr>
          <th>
            <a
              href="<%= sort_header_url(@search, root_path, "name") %>"
              class="<%= sort_header_classes(@search, "name") %>"
            >
              <%= t("name") %>
            </a>
          </th>
          <th><%= t("description") %></th>
          <th>
            <a
              href="<%= sort_header_url(@search, root_path, "last_enqueued") %>"
              class="<%= sort_header_classes(@search, "last_enqueued") %>"
            >
              <%= t("last_enqueued") %>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @search.tasks.each do |task| %>
          <tr>
            <td>
              <a href="<%= task_url(root_path, task) %>" class="st-text-primary">
                <b><%= task.name %></b>
              </a>
              <% if task_has_custom_sidekiq_options?(task) %>
                <%= build_tag(
                  :span,
                  t("sidekiq_options"),
                  class: "st-status-badge override",
                  "data-tooltip": t("custom_sidekiq_options_tooltip")
                ) %>
              <% end %>
            </td>

            <td><%= task.desc %></td>
            <td><%= task.last_enqueue_at ? relative_time(task.last_enqueue_at) : "-" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= erb(
      read_view(:_pagination),
      locals: {
        displayed_count: @search.tasks.size,
        total_count: Sidekiq::Tasks.tasks.size,
        page: @search.page,
        total_pages: @search.total_pages,
        base_url: pagination_base_url(@search, root_path),
      }
    ) %>
  <% end %>
</div>
