<% if Sidekiq::Tasks::Web::SIDEKIQ_GTE_7_3_0 %>
  <% style_tag "tasks/css/ext.css" %>
<% else %>
  <link href="<%= root_path %>tasks/css/ext.css" media="screen" rel="stylesheet" type="text/css"/>
<% end %>

<header class="st-header">
  <form action="<%= root_path %>tasks" method="get" class="st-search-form">
    <input name="filter" class="st-input" type="text" value="<%= @search.filter %>" placeholder="<%= t("search") %>">

    <select name="count" class="st-select">
      <% Sidekiq::Tasks::Web::Search.count_options.each do |count| %>
        <option value="<%= count %>" <%= "selected" if @search.count == count %>>
          <%= count %>
        </option>
      <% end %>
    </select>

    <button type="submit" class="st-button st-button-primary">
      <%= t("filter") %>
    </button>
  </form>
</header>

<% if @search.tasks.empty? %>
  <%= t("no_tasks") %>
<% else %>
  <table class="st-table">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("description") %></th>
        <th><%= t("last_enqueued") %></th>
      </tr>
    </thead>
    <tbody>
      <% @search.tasks.each do |task| %>
        <tr>
          <td>
            <a href="<%= task_url(root_path, task) %>" class="st-text-primary">
              <b><%= task.name %></b>
            </a>
          </td>

          <td><%= task.desc %></td>
          <td><%= task.last_enqueue_at ? relative_time(task.last_enqueue_at) : "-" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= erb(read_view(:_pagination), locals: {search: @search}) %>
<% end %>
