<% if Sidekiq::Tasks::Web::SIDEKIQ_GTE_7_3_0 %>
  <% style_tag "tasks/css/ext.css" %>
<% else %>
  <link href="<%= root_path %>tasks/css/ext.css" media="screen" rel="stylesheet" type="text/css"/>
<% end %>

<header class="st-header">
  <h1><%= t("task") %></h1>
</header>

<table class="st-table">
  <tbody>
    <tr>
      <th><%= t("name") %></th>
      <td><%= task.name %></td>
    </tr>
    <tr>
      <th><%= t("desc") %></th>
      <td><%= task.desc %></td>
    </tr>
    <tr>
      <th><%= t("strategy") %></th>
      <td><%= task.strategy.name %></td>
    </tr>
    <tr>
      <th><%= t("last_enqueued") %></th>
      <td><%= task.last_enqueue_at ? relative_time(task.last_enqueue_at) : "-" %></td>
    </tr>
  </tbody>
</table>

<header class="">
  <div class="">
    <h2><%= t("history") %></h2>
  </div>
</header>

<div class="st-table-container">
  <% if task.history.empty? %>
    <p><%= t("no_history") %></p>
  <% else %>
    <table class="st-table">
      <thead>
      <tr>
        <th><%= t("jid") %></th>
        <th><%= t("args") %></th>
        <th><%= t("enqueued") %></th>
        <th><%= t("executed") %></th>
        <th><%= t("duration") %></th>
        <th><%= t("status") %></th>
      </tr>
      </thead>
      <tbody>
        <% task.history.each do |jid_history| %>
          <tr>
            <td><%= jid_history["jid"] %></td>
            <td>
              <code><%= jid_history["args"] %></code>
            </td>
            <td>
              <%= jid_history["enqueued_at"] ? jid_history["enqueued_at"].strftime(t("task_time")) : "-" %>
            </td>
            <td>
              <%= jid_history["executed_at"] ? jid_history["executed_at"].strftime(t("task_time")) : "-" %>
            </td>
            <td>
              <%= format_task_duration(jid_history["enqueued_at"], jid_history["finished_at"]) %>
            </td>
            <td>
              <%= build_tag(
                :span,
                t(task_status(jid_history).to_s).capitalize,
                class: "st-status-badge #{task_status(jid_history)}",
                "data-tooltip": jid_history["error"],
              ) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<header class="">
  <div class="">
    <h2><%= t("run_task") %></h2>
  </div>
</header>

<form action="<%= task_url(root_path, task) %>/enqueue" method="post" class="st-form-container">
  <%= csrf_tag %>

  <div class="st-form-row">
    <% task.args.each do |arg| %>
      <div class="st-form-group">
        <label for="<%= arg %>" class="st-label"><%= arg %></label>
        <input type="text" id="<%= arg %>" class="st-input" name="args[<%= arg %>]"/>
      </div>
    <% end %>
  </div>

  <div class="st-form-group-full">
    <label for="envConfirmationInput" class="st-label">
      <%= t("env_confirmation", current_env: current_env) %>
    </label>
    <input type="text" id="envConfirmationInput" class="st-input" name="env_confirmation" data-current-env="<%= current_env %>" required/>
  </div>

  <button type="submit" class="st-button" id="submitBtn" disabled>
    <%= t("enqueue") %>
  </button>
</form>

<% if Sidekiq::Tasks::Web::SIDEKIQ_GTE_7_3_0 %>
  <%= script_tag "tasks/js/env_confirmation.js" %>
  <%= script_tag "tasks/js/tooltips_manager.js" %>
<% else %>
  <script type="text/javascript" src="<%= root_path %>tasks/js/env_confirmation.js"></script>
  <script type="text/javascript" src="<%= root_path %>tasks/js/tooltips_manager.js"></script>
<% end %>
